$Helvetica: helvetica; 

h2 {
  font-family: $Helvetica;
}

.container {
  border: 1px solid grey; 
  border-radius: 5px;
  padding: 10px; 
  display: flex;
  flex-direction: column; 
  justify-content: center;
}